<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- Credenciales Name: admin, Pass: admin -->
	<h1>Login</h1>
	<form action="#" th:action="@{/validacion}"th:object="${usuario}" method="post">
		<p>
			Usuario: <input type="text" th:field="*{nombre}">
			
		</p>
		<p>
			Contraseña: <input type="password" th:field="*{pass}">
		</p>
		<p>
			<input type="submit" value="Enviar"/><input type="reset" value="Borrar">
		</p>
	</form>
</body>
</html>